// Header
#header {
  position: fixed;
  z-index: 2;
  width: 100%;
  border-bottom: 1px $white solid;

  body:not(.path-frontpage) &::before{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    top: 0;
    left: 0;
    height: 120%;
    background: linear-gradient(#000, transparent);
  }
  body.scrolled &{
      background: rgba($third-color, 0.7);
      &::before{
        content: none;
      }
  }
  #navbar-main {
    padding: 0 $spacer*2;
    @include media-breakpoint-down(lg) {
      padding: 0 0  0 $spacer;
    }
    .offcanvas {
      @include media-breakpoint-down(lg) {
        background: rgba($third-color, 0.9);
      }
      .offcanvas-header {
        .btn-close {

        }
      }
      .offcanvas-body {
        justify-content: flex-end;
        .navbar-nav {
          @include media-breakpoint-up(xl) {
            gap: 14px;
          }
          
          & > .nav-item {
            position: inherit;
            a {
              color: $white;
              opacity: 0.7;
              font-weight: 500;
              padding: 1.5rem 1rem;
              transition: opacity 0.15s;
              @include media-breakpoint-down(xl) {
                padding: 1.5rem 0.5rem;
              }
              @include media-breakpoint-down(lg) {
                padding: 0.5rem 0.5rem;
              }
              &:hover, &.is-active {
                opacity: 1;
              }
            }
            .dropdown-toggle {
              @include svg-inline(chevron-right, after, $white, $white, $font-size-base, 0.5rem);
              &:after {
                border: none;
                transition: all 0.3s ease;
              }
              &.show {
                &:after {
                  transform: rotate(90deg);
                }
              }
            }
            .dropdown-menu {
              background: #FFF;
              width: 100%;
              padding: 1rem 0;
              @include media-breakpoint-down(lg) {
                position: relative;
              }
              @include media-breakpoint-up(lg) {
                display: block;
                opacity: 0;
                transition: none;
                pointer-events: none;
              }
              &.show {
                box-shadow: none;
                display: block;
                background: transparent;
                border: none;
                left: auto;
                width: auto;
                

                @include media-breakpoint-up(lg) {
                  transform: translateX(-33%);
                  column-count: 3;
                  opacity: 1;
                  transition: opacity 300ms;
                  pointer-events: auto;
                }

                @include media-breakpoint-up(xl) {
                  column-count: 4;
                }
                .menu-layer{
                  position: absolute;
                  top: -1px;
                  height: 100%;
                  display: block;
                  background: white;
                  width: 20000px;
                  z-index: -1;
                  left: -2000px;
                  opacity: 0.9;                }
              }
              .dropdown-item {
                padding: 0;
                &.active{
                  background-color: transparent;
                }
                &:hover{
                  background-color: transparent;               
                }
                a {
                  font-size: $font-size-sm;
                  padding: 0.5rem 0.5rem 0.5rem 0;
                  color: $dropdown-color !important;
                  &:hover{
                    text-shadow: 0.1px 0.1px 0 $dropdown-color, -0.1px -0.1px 0 $dropdown-color;
                  }
                }
              }
            }
          }
        }
      }
    }
    .navbar-brand{
      transform: scale(0.9);
      transform-origin: left;
    }
    .navbar-toggler {
      box-shadow: none;
      margin-right: $spacer;
      .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
      }
    }
  }
}
